body {
  /* background-image: url(/public/bg.webp);
  background-position: center; */
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.loginCard {
  width: 25%;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 60px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.radioGroup {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
