.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerBox {
  width: 60%;
  height: 80%;
  border-radius: 20px;
}
.el-aside {
  background-color: #f5f5f5;
  color: #333333;
  text-align: center;
  border-radius: 20px 0 0 20px;
  border-right: #e6e6e6 2px solid;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}
.el-main {
  background-color: #f5f5f5;
  color: #333333;
  text-align: center;
  border-radius: 0 20px 20px 0;
}
